/** Reset to default **/
	body,div,dl,dt,dd,ul,ol,li,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td,header { margin: 0; padding: 0; }
	
	a {
	color: #35a5df;
	}
 
	table {	border-collapse: collapse; border-spacing: 0; }
 
	fieldset,img { border: 0; }
 
	address,caption,cite,code,dfn,em,strong,th,var { font-style: normal; font-weight: normal; }
 
	ol,ul { list-style: none; text-decoration: none; }
 
	li a { text-decoration: none; }
 
	caption,th { text-align: left; }
 
	h1,h2,h3,h4,h5,h6 { padding: 0px; }
//* General stuff, and containers *//
body{
background-color: #E5E5E5;
}
h3{
font-family: "Arial";
font-size: 20px;
color: #77AD72;
}
b{
font-family: "Arial";
}
a{
font-family: "Arial";
}
i{
font-family: "Arial";
}
p{
font-family: "Arial";
font-size: 10px;
color: #A9A9A9;
}
#default_container{
width: 1000px;
margin: 0 auto 0;
background-color: #E5E5E5;
border: 1px solid black;
padding-bottom: 50px;
}
#container_left{
float: left;
width: 560px;
background-color: #E5E5E5;
padding-left: 40px;
}
#container_right{
float: right;
width: 400px;
background-color: #E5E5E5;
}
#greenpart{
margin-top: 30px;
height: 100px;
width: 200px;
float: right;
padding-top: 40px;
padding-bottom: 40px;
padding-right: 40px;
padding-left: 20px;
background-color: #77AD72;
color: white;
font-size: 15px;
}
table{
	margin-left:40px;
	margin-top: 50px;
	width: 92%;
	padding-left: 40px;
}

th {
  padding-bottom: 10px;
 	padding-left: 3px;
}
tr:nth-child(even) {
	border-top: 3px solid #D8D8D8;
	border-bottom: 3px solid #D8D8D8;
	background-color: #DDDDDD;

}
td{
	padding-left: 3px;
	padding-top: 5px;
	padding-right: 3px;
	padding-bottom: 40px;
}
tr:nth-last-child(1) {
	background-color: #CBC9CA;
	padding-bottom: 2px;
}
#thanksdiv{
	width: 318px;
	margin: 80px auto 0;
}
