.version.index /* version checker */
{
	color: #0000E8;
	background-color: #58C927;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 496px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#pu77
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -115px;
}

#u77
{
	z-index: 4;
	width: 1201px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 14px;
}

#u79
{
	z-index: 6;
	width: 1200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 14px;
}

#u83-4
{
	z-index: 10;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 391px;
}

#u84
{
	z-index: 14;
	width: 1200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 15px;
}

#u86
{
	z-index: 16;
	width: 1200px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 15px;
}

#u88
{
	z-index: 18;
	width: 1228px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 144px;
}

#pu75
{
	width: 0.01px;
	padding-bottom: 2812px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -101px;
}

#u75
{
	z-index: 2;
	width: 1200px;
	background-color: transparent;
	position: fixed;
	top: -36px;
	left: -101px;
}

#u81
{
	z-index: 8;
	width: 1200px;
	background-color: transparent;
	position: fixed;
	top: -36px;
	left: -100px;
}

body
{
	position: relative;
	min-width: 1000px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

