.container .footer_new{
	position: absolute;
	margin-top: 920px;
	margin-left: 0px;
	height: 230px;
	width: 940px;
	background-color: #DD6F00;
	box-shadow: 0px 11px 25px 2px rgba(49, 50, 50, 0.69);
	text-align: center;
}
.footer_new strong{
  color: white;
}
.footer_new .owners a{
  color: #FEE37A;
  text-decoration: none;
}
.footer_new .friends a{
  color: #999;
  text-decoration: none;
}
.footer_new .contact{
  float: left;
  width: 220px;
  margin-left: 15px;
  margin-top: 20px;
}
.footer_new .owners .teamRami{
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}

.footer_new .owners .teamJw{
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}
.footer_new .friends{
  float: left;
  margin-left: 30px;
  margin-top: 20px;
}
.footer_new .friends ul li{
  list-style-type: none;
}

.footer_new_all{
	margin-top: 10px;
}

.footer_new .friends_t{
	position: absolute;
	margin-top: 10px;
	margin-left: 660px;
}