@font-face{
  font-family: 'ChampLimo';
  src: url(../fonts/ChampLimo.ttf);
}
.container .footer_new{
  font-family: 'ChampLimo';
	position: absolute;
	margin-top: 920px;
	margin-left: -3px;
	height: 400px;
	width: 940px;
	background-color: #000000;
	box-shadow: 0px 11px 25px 2px rgba(49, 50, 50, 0.69);
	text-align: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom: 40px;
	border: 3px solid white;
}
.footer_new strong{
  color: white;
}
.footer_new .owners a{
  color: #FEE37A;
  text-decoration: none;
}
.footer_new .friends a{
  color: #999;
  text-decoration: none;
}
.footer_new .contact{
  font-family: 'ChampLimo';
  float: left;
  color: white;
  text-align: left;
  width: 300px;
  margin-left: 20px;
  margin-top: 10px;
}
.contactTop strong {
  font-family: 'ChampLimo';
  font-weight: bold;
  text-align: left;
  font-size: 20px;
}
.contactMid {
  font-family: 'ChampLimo';
  font-weight: normal;
  text-align: left;
  font-size: 18px;
}
.contactBtm {
  margin-top: 235px;
}
.footer_new .owners{
  float: left;
  margin-left: -320px;
  margin-top: 120px;
  color: white;
  width: 300px;
}
.ownerInfo{
  float: left;
  color: white;
  text-align: left;
  font-size: 15px;
}
.owners h2 {
  font-family: 'ChampLimo';
  font-weight: bold;
  text-align: left;
  font-size: 17px;
  color: white;
  margin-bottom: -23px;
}
.owners p {
  font-family: 'ChampLimo';
  font-weight: normal;
  text-align: left;
  font-size: 16px;
  color: white;
  margin-bottom: -25px;
}
.ownerPic {
  float: left;
  margin-bottom: -5px;
  height: 80px;
}
.footer_new .friends{
  float: left;
  margin-left: 30px;
  margin-top: 20px;
}
.footer_new .friends ul li{
  list-style-type: none;
}

.footer_new_all{
	margin-top: 10px;
}

.footer_new .friends_t{
	position: absolute;
	margin-top: 10px;
	margin-left: 660px;
}