nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: right;
  background: #353535;
  border-bottom: 1px solid #525252;
  border-radius: 3px;
}


.errorpass {
  margin-left: 300px;
  position: absolute;
}

nav li {
  float: left;
}

#login {
  border-right: 1px solid #E4DEDE;
  box-shadow: 1px 0 0 #767676;
}
nav
{
  margin-top: -42px;
  margin-right: 50px;
  position: relative;
  float: right;
}


#login-trigger, #signup a {
  display: inline-block;
  height: 25px;
  line-height: 25px;

  font-size: 15px;

  font-weight: bold;
  *display: inline;
  *zoom: 1;
  padding: 0 8px;
  text-decoration: none;
  color: #FFF;
  /* text-shadow: 0 1px 0 #fff; */
}

#signup a {
  border-radius: 0 3px 3px 0;
}

#login-trigger {
  border-radius: 3px 0 0 3px;
}

#login-trigger:hover,
#login .active,
#signup a:hover {
  background: #FAC846;
}

#login-content {
  display: none;

  width: 250px;
  position: absolute;top: 38px;
  right: 0;
  z-index: 99999;
  background: #fff;
  background-image: linear-gradient(top, #fff, #eee);
  padding: 15px;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  border-radius: 3px 0 3px 3px;
}

nav li #login-content {
  right: 0;
  width: 250px;
}

/*--------------------*/

#inputs input {
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 238px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/

#login #actions {
  margin: 10px 0 0 0;
}

#submit2 {
  background-color: #d14545;
  background-image: linear-gradient(top, #e97171, #d14545);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  border: 1px solid #7e1515;
  float: left;
  height: 30px;
  padding: 0;
  width: 100px;
  cursor: pointer;
  font: bold 14px Arial, Helvetica;
  color: #fff;
}

#submit2:hover,
#submit2:focus {
  background-color: #e97171;
  background-image: linear-gradient(top, #d14545, #e97171);
}

#submit2:active {
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#submit2::-moz-focus-inner {
  border: none;
}
fieldset {
  border: none;
  padding: 0;
}

label input {
  position: relative;
  top: 2px;
  right: 2px;
}
    .logo{
      margin-top:-120px;
    }
    .menu{
      border-radius: 5px;
      background:#353535;
      width:99.9%;
      height:40px;
      border:1px solid #2a2a2a;
      margin-top:-15px;
      width: 1030px;
      margin-left: auto;
      margin-right: auto;
      color:#e6e6e6;
      font-family:'Roboto',sans-serif;
      -webkit-box-shadow: 0px 3px 30px 0px rgba(69, 50, 50, 0.78);
      -moz-box-shadow:    0px 3px 30px 0px rgba(69, 50, 50, 0.78);
box-shadow:         0px 11px 25px 2px rgba(49, 50, 50, 0.69);
    }
    .menuitems{
      padding:11px;
      font-size:14px;
      border-left:1px solid #2a2a2a;
      float:left;
      border-right:1px solid #2a2a2a;
      margin-left:-1px;
      height:22px;
      text-decorations: none;
      -mozselectedsomethingorother: none;
      transition: background 0.5s ease-out;
    }
    .menuitems.rightmenu{
      float:right;
      margin-right:20px;
      color:#efefef;
    }
    .menuit{
      margin-left:10px;
      margin-right:auto;
      width:830px;
    }
    .menuitems:hover{
      background:#FAC846;
      cursor:pointer;
    }
    .select{
      padding:11px;
      font-size:14px;
      float:left;
      border-bottom:2px solid #2e628c;
      margin-left:-1px;
      margin-top:0px;
      height:22px;
      background:#2a2a2a;
    }
    .selected{
      text-decoration:none;
      color:#e6e6e6;
      float:left;
    }
    a.menut{
      text-decoration:none;
      color:#e6e6e6;
      float:left;
    }
    a.menuitems{
      text-decoration:none;
      color:#e6e6e6;
      float:left;
    }
    a.menut:hover{
      text-decoration:underline;
    }
    .drpmenu{
      width:100%;
      height:auto;
      background:#f5f5f5;
      border-left:1px solid #d8d8d8;
      border-right:1px solid #d8d8d8;
      border-bottom:1px solid #d8d8d8;
      float:left;
      font-family:'Roboto',sans-serif;
    }
    .drpmenuitems{
      padding:6px;
      margin-left:auto;
      margin-right:auto;
      width:850px;
    }
    .hotspot{
      float:left;
      margin-right:-15px;
      margin-top:-11px;
    }
    .hotspot:hover{
      position: relative;
    }
    a[title]:hover:after {
      content: attr(title);
      font-family:verdana;
      padding: 4px 8px;
      color: white;
      position: absolute;
      left: 0;
      top:-2px;
      border-radius:5px;
      font-size:12px;
      background:#363636;
    }
    a.drpbieste{
      text-decoration:none;
      color:#4a4a4a;
      margin-left:13px;
      font-size:15px;
      margin-top:3px;
    }
    a.drpbieste:hover{
      text-decoration:underline;
    }
    .line{
      width:730px;
      margin:auto;
      margin-bottom:10px;
      height:1px;
      background:#ceccd0;
    }
    .sterren{
      margin-right:37px;
    }

    .red{
      background:#dd1b1b;
      color:#fbfbfb;
      border:1px solid #921212;
    }
    .pink{
      background:#9b59b6;
      color:#fbfbfb;
      border-top:1px solid #8e44ad;
      border:1px solid #8e44ad;
    }
    .yellow{
      background:#004a95;
      color:#fbfbfb;
      border-top:1px solid #0061c1;
      border:1px solid #002e5b;
    }
    .green{
      background:#118d4f;
      color:#fbfbfb;
      border:1px solid #0d683a;
    }
    .blue{
      background:#004a95;
      color:#fbfbfb;
      border-top:1px solid #0061c1;
      border:1px solid #002e5b;
    }
    .text{margin-left:5px;margin-right:5px;}

    .input{
      height:30px;
      font-size:15px;
      font-family:'Ubuntu',sans-serif;
      border-radius:3px;
      border:1px solid #939393;
      text-align:center;
      outline-color:#3838cb;
    }
    .submit{
      height:30px;
      outline:none;
      font-size:15px;
      font-family:'Ubuntu',sans-serif;
      color:white;
      border-radius:3px;
      text-align:center;
      cursor:pointer;
    }

    * {
      border-box: box-sizing;
    }
