*{padding: 0px; margin: 0px;}

/* GENERAL */

header, footer, article, section, hgroup, nav, figure{
    display:block;
}
body{
    font-family: 'Duality';
    background-color: #FAC846;
}
@font-face{
    font-family: 'Duality';
    src: url(../fonts/Duality.ttf);
}
/* DIVS */
/*Start of header*/
.header{box-shadow:         0px 11px 25px 2px rgba(49, 50, 50, 0.69);
    margin: 0 auto;
    margin-bottom: 15px;
    width: 1000px;
    height: 115px;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 20px;
}
.header img{
    margin-left: 40px;
}
.header h1{
    font: normal 35px 'Duality';
    margin-top: -90px;
    margin-left: 180px;
    color: white;
}
.header p{
    font: normal 17px 'Duality';
    margin-left: 180px;
    color: white;
}

/*Nav*/
.nav{
    margin: 0 auto;
    margin-bottom: 15px;
    width: 1000px;
    height: 50px;
    background-color: white;
}

/*Images slider*/
.image_slider{
    margin: 0 auto;
    width: 1000px;
    height: 400px;
    background-color: white;

}
.image_ss{
    margin: 0 auto;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 600px;
    background-color: white;
}
.image_gg{
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -15px;
    width: 1000px;
    height: 600px;
    background-color: white;
}
/*Start of containers*/
.container-img{

margin: 0 auto;
position: relative;
 width: 1000px;
background: URL(../bjorncms/images/js_reception_backdrop_left.png), #ffffff;
background-repeat: no-repeat;
background-position: left bottom;


box-shadow:         0px 11px 25px 2px rgba(49, 50, 50, 0.69);

}
/* Container pages */
.container{
    height: 900px;
    margin: 0 auto;
    position: relative;
    width: 1000px;
    background: URL(../bjorncms/images/js_reception_backdrop_left.png), #ffffff;
    background-repeat: no-repeat;
    background-position: left bottom;
    box-shadow: 0px 11px 25px 2px rgba(49, 50, 50, 0.69);
}
.container h1{
    margin: 10px 20px 10px 20px;
}
.container p{
    margin: 10px 20px 10px 20px;
}
.container img{
    margin: 10px 20px 10px 20px;
}
/* Container of Serious Sam*/
.ss_container{
    height: 650px;
    margin: 0 auto;
    position: relative;
    width: 1000px;
    background: #d4b484;
    background-repeat: no-repeat;
    background-position: left bottom;
}
.ss_container h1{
    font: normal 35px 'Duality';
    margin: 0px 20px 10px 20px;
    border-bottom: 1px solid black;
}
.ss_container h2{
    font: normal 25px 'Duality';
    margin: 0px 20px 10px 20px;
}
.ss_container p{
    font: normal 17px 'Duality';
    margin: 0px 20px 10px 20px;
}
.ss_container ul{
    margin: 0px 20px 10px 20px;
}
.ss_container li{
    font: normal 17px 'Duality';
    margin: 0px 20px 10px 20px;
}
.ss_container img{
    margin: 0px 20px 10px 20px;
}

/* Container of Gun Godz*/
.gg_container{
    height: 650px;
    margin-top: -20px;
    margin: 0 auto;
    position: relative;
    width: 1000px;
    background: #1d1d1d;
    background-repeat: no-repeat;
    background-position: left bottom;
}
.gg_container h1{
    font: normal 35px 'Duality';
    margin: 0px 20px 10px 20px;
    border-bottom: 1px solid black;
}
.gg_container h2{
    font: normal 25px 'Duality';
    margin: 0px 20px 10px 20px;
}
.gg_container p{
    font: normal 17px 'Duality';
    margin: 0px 20px 10px 20px;
}
.gg_container ul{
    margin: 0px 20px 10px 20px;
}
.gg_container li{
    font: normal 17px 'Duality';
    margin: 0px 20px 10px 20px;
}
.gg_container img{
    margin: 0px 20px 10px 20px;
}

/*Start of news section*/
.news{
    position: absolute;
    margin: 50 auto;
    width: 1000px;
}
.news_header h1{
    font: normal 30px 'Duality';
    color: black;
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    border-bottom: 1px solid black;
}
.news_content img{
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}
.news_content p{
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    font: normal 15px 'Calibri';
}

/*Start of clothes store*/
.clothes{
    position: absolute;
    margin: 50 auto;
    width: 1000px;
}
.clothes_sidecontent{
    position: absolute;
    margin: 0 auto;
    height: 500px;
    width: 200px;
    border: 1px solid black;
}
.clothes_sidecontent h2{
    font: normal 23px 'DejaVu Sans', sans-serif;
    border-bottom: 1px solid black;
}

/*Start of music store*/
.musicStoreContainer{
    background-color: white;
    height: 300px;
}
.musicStoreContainer .itemHolder{
    position: relative;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    background-color: white;
    border-radius: 10px;
    width: 200px;
    height: 300px;
    -webkit-box-shadow: 0px 0px 22px 3px rgba(50, 50, 50, 0.45);
    -moz-box-shadow:    0px 0px 22px 3px rgba(50, 50, 50, 0.45);
    box-shadow:         0px 0px 22px 3px rgba(50, 50, 50, 0.45);
}

/*Start of item holder*/
.itemHolder .itemPic img{
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 200px;
    height: 125px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.itemHolder .itemPic img.top{
    opacity: 0;
}
.itemHolder:hover .itemPic img.top{
    opacity: 1 !important;
}
.itemHolder .itemTitle{
    margin-top: 135px;
    font-size: 18px;
    text-align: center;
}
.itemHolder .itemDesc{
    margin-top: 15px;
    margin-left: 15px;
    font-size: 12px;
    font-style: oblique;
    color: #b8b6b6;

}
.itemHolder .itemPrice{
    margin-top: 30px;
    text-align: center;
    font-size: 24px;
    font-style: bold;
    color: #DEE0E7;
}
.itemHolder:hover .itemPrice{
    margin-top: 30px;
    text-align: center;
    font-size: 24px;
    font-style: bold;
    color: black;
}

/*nav{
    background: #f8f8f8;
    padding:0 5px;
    right:0;
    top:4em;
    position:fixed; top:0; left:50;
    border:1px solid #FCFCFC;
    -moz-box-shadow:0 1px 1px #333333;
    -webkit-box-shadow:0 1px 1px #333333;
    box-shadow:0 1px 1px #333333;
}

nav ul li{
    display:inline;
}

nav ul li a, nav ul li a:visited{
    color:#565656;
    display:block;
    float:left;
    font-size:1.25em;
    font-weight:bold;
    margin:5px 2px;
    padding:7px 10px 4px;
    text-shadow:0 1px 1px white;
    text-transform:uppercase;
}

de kleur als je over de buttons gaat
nav ul li a:hover{
    text-decoration:none;
    background-color:#f0f0f0;
}

nav, article, nav ul li a,figure{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}*/

/*Start of slideshow*/
#slideshow {
position:relative;
height:133px;
width: 100px;

}

#slideshow IMG {
    position:absolute;
    margin-top:0px;
    left:0;
    z-index:8;
    height: 400px;
    width: 1000px;

}

#slideshow IMG.active {
    z-index:10;
}

#slideshow IMG.last-active {
    z-index:9;
}

/*Start of footer*/
.footer{
    font: normal 15px 'DejaVu Sans';
    margin: 0 auto;
    width: 1001px;;
    height: 230px;
    background-color: black;
    color: #999;
    text-align: center;
    margin-bottom: 50px;
    font-size: 13.5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 11px 25px 2px rgba(49, 50, 50, 0.69);
}
.footer strong{
    color: white;
}
.footer .owners a{
    color: #FEE37A;
    text-decoration: none;
}
.footer .friends a{
    color: #999;
    text-decoration: none;
}
.footer .contact{
    float: left;
    width: 220px;
    margin-left: 15px;
    margin-top: 20px;
}
.footer .owners .teamRami{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.footer .owners .teamJw{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
.footer .friends{
    float: left;
    margin-left: 5px;
    margin-top: 20px;
}
.footer .friends ul li{
    list-style-type: none;
}


.vlambeergames{
    margin: 0 auto;
    margin-bottom: 15px;
    width: 1000px;
    height: 500px;
    background-color: white;
}

.gameslider {
    display:inline-block;
	float:left;
	position:relative;
    margin-top:125px;
}

/*Start of popup*/
#blanket {
   background-color:#111;
   opacity: 0.65;
   *background:none;
   position:absolute;
   z-index: 9001;
   top:0px;
   left:0px;
   width:100%;
}
#popUpDiv {
    position:absolute;
    width:700px;
    margin-top: -200px;
    margin-left: -150px;
    height:400px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 23px 5px rgba(50, 50, 50, 1), inset 0px 0px 25px 0px rgba(223, 70, 18, 0.60);
    -moz-box-shadow:    0px 0px 23px 5px rgba(50, 50, 50, 1), inset 0px 0px 25px 0px rgba(223, 70, 18, 0.60);
    box-shadow:         0px 0px 23px 5px rgba(50, 50, 50, 1), inset 0px 0px 25px 0px rgba(223, 70, 18, 0.60);
    z-index: 9002;
}
.popupImg{
    margin-top: 30px;
    margin-left: 30px;
    width: 175px;
    height: 175px;
    border: 5px solid white;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 1);
}
.popupImg img{
    margin: 0px;
    padding: 0px;
    width: 175px;
    height: 175px;
}
.popupInfo{
    margin-top: -180px;
}
.popupTitle{
    text-align: center;
    margin-top: -150px;
    margin-left: 180px;
    font-size: 33px;
}
.popupDesc{
    text-align: center;
    width: 350px;
    margin-top: -35px;
    margin-left: 270px;
    font-size: 23px;
    color: #919191;
}
.popupPrice{
    text-align: center;
    margin-top: -20px;
    margin-left: 180px;
    font-size: 28px;
}
#popupAddToCart{
    position: absolute;
    font: normal 18px 'Duality';
    text-align: center;
    background-color: #df4612;
    width: 250px;
    height: 30px;
    margin-top: -75px;
    margin-left: 310px;
    color: white;
    border: 1px solid #7e1515;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    cursor: pointer;
}
#popupAddToCart:hover{
    background-color: #f56f41;
}
#popupAddToCart:active{
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}
.recomend{
    font: normal 25px 'Duality';
    margin-top: 25px;
}
.recomendTitle{
    text-align: center;
}
.recomendItem{
    border: 5px solid white;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 1);
    height: 100px;
    width: 100px;
    margin-top: 30px;
    margin-left: 30px;
}

/*Start of form*/
.container .form{
    position: absolute;
    margin-left: 50%;
}
.container .formTitle{
    color: #df4612;
    font-size: 30px;
    margin: 0;
    padding-top: 20px;
    text-align: center;
}
.container .formInfo{
    color: #B1B8C7;
    font-size: 15px;
    text-align: center;
}
.container .form .formLabel{
    float: left;
    margin-top: 25px;
    margin-left: -225px;
    padding-right: 20px;
    font-size: 18px;
    color: #8995A9;
}
.container .form .formInput{
    background-color: #DBDFE6;
    border: 1px solid #DEE0E7;
    border-radius: 5px;
    box-shadow: 0 1px 1px #ACB4C4 inset;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
}
.container .form input:focus{
    outline: none;
    border-color: #FFC891;
    background-color: white;
    box-shadow: 0 0px 0px 1px #ACB4C4 inset;
}
.container .form #formSubmit{
    margin-top: 20px;
    margin-left: -150px;
    background-color: #df4612;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    border: 1px solid #7e1515;
    float: left;
    height: 30px;
    padding: 0;
    width: 300px;
    cursor: pointer;
    font: bold 20px 'Duality';
    color: #fff;
}
.form #formSubmit:hover{
    background-color: #ff5e27;
}
.form #formSubmit:active{
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}
.form .formInput[placeholder]{
    font: normal 14px 'Duality';
    padding-left: 10px;
    color: #a9a9a9;
}
.form .formInput{
    font: normal 14px 'Duality';
    padding-left: 5px;
    color: #a9a9a9;
}

/*Start img info*/
.container-img .imgInfo{
	position: absolute;
	margin-left: 700px;
	width: 300px;
	height: 400px;
	background-color: black;
	opacity: 0.42;
	z-index: 10;
}
.imgInfo .imgInfoTitle {
	z-index:2000;
	color: white;
	text-align: center;
	margin-top:10px;
	font-size:25px;
}
.imgInfo .imgInfoDesc{
	z-index:2000;
	color: #DF4612;
	text-align: center;
	margin-top:10px;
	font-size:16px;
}



/*Start img info*/
.container-img .imgInfo{
	position: absolute;
	margin-left: 700px;
	width: 300px;
	height: 400px;
	background-color: black;
	opacity: 0.42;
	z-index: 10;
}
.imgInfo .imgInfoTitle {
	z-index:2000;
	color: white;
	text-align: center;
	margin-top:10px;
	font-size:25px;
}
.imgInfo .imgInfoDesc{
	z-index:2000;
	color: #DF4612;
	text-align: center;
	margin-top:10px;
	font-size:16px;
}
.ss_bomb{
    margin-top: -563px;
    margin-left: 545px;
    position: absolute;
    transform: scale(1.1);
}