/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*=================================*/
    /* -- [ GENERAL ] -- */
/*=================================*/

header, footer, article, section, hgroup, nav, figure{
  display:block;
}

body{
  font-family: 'ChampLimo';
  background-position: center;
  background-color: #dc9806;
  color: black;
}

@font-face{
  font-family: 'ka1';
  src: url(../fonts/ka1.ttf);
}
@font-face{
  font-family: 'ChampLimo';
  src: url(../fonts/ChampLimo.ttf);
}

/*=================================*/
    /* -- [ HEADER ] -- */
/*=================================*/

.header {
  background: url(../images/header.png) no-repeat;
  background-position: center;
  margin-top: 0px;
  height: 404px;
  width: 937px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -2px;
}

/*=================================*/
    /* -- [ NAVIGATION ] --*/
/*=================================*/

.navbar {

  pointer-events:none;
  background: url(../images/navbar.png) no-repeat;
  background-position: center;
  height: 68px;
  width: auto;
  z-index: 99999;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}

/*.navbar ul li{
font-family: 'ka1';
font-size: 16px;
margin: 0 auto;
padding-top: 8px;
display: inline-block;
color: white;
height: 32px;
margin-top: 31px;
margin-left: 25px;
margin-right: 25px;
}

.navbar li a, .navbar li a:visited{
color: black;
text-decoration: none;
}

.navbar li a:hover{
color: white;
}*/

/* --  [ IMAGE SLIDER ] --*/

.image_slider {
  /* background: url(../images/frame2.png) no-repeat; */
  /* background-position: center; */
  /* height: 1000px; */
  width: 940px;
  /* margin-top: -300px; */
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: -280px; */
}
.mask {
  /* padding-top: 0px; */
  /* margin-top: -10px; */
  /* margin-left: 0px; */
  /* margin-right: auto; */
  position: relative;
  width: 940px;
  height: 354px;
  overflow: hidden;
  /* left: -20px; */
}
ul.images {
  position: relative;
  top: -10px;
  left: 30px;
}
ul.images li {
  float: left;
  left: -20px;
  position: relative;
}
ul.triggers {
  position: relative;
  text-align: center;
  list-style: none;
  width: 12%;
  margin-top: -60px;
  margin-left: auto;
  margin-right: auto;
}
ul.triggers li {
  display: inline-block;
  float: left;
  margin: 0 5px;
  cursor:pointer;
  background-color:#ccc;
  color:#000;
  padding:10px;
}
ul.triggers li.selected {
  background-color:red;
  color:#000;
}
.control {
  position:absolute;
  top: 380px;
  color:#fff;
  cursor:pointer;
}
.prev {
  left:120px;
}
.next {
  left:180px;
}
.image_ss{
  margin: 0 auto;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 600px;
  background-color: white;
}
.image_gg{
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -20px;
  width: 1000px;
  height: 600px;
  background-color: white;
}

/* -- [ H1 TITLE DESIGN ] -- */

.h1Title {
  background: url(../images/titleFrame.png) no-repeat center;
  margin: 0px auto 10px auto;
  width: 659px;
  height: 89px;
  text-align: center;
}

.h1Title h1 {
  font-family: 'ka1';
  color: #db9b5c;
  margin: auto;
  line-height: 90px;
  font-size: 23px;
}
/* Margin-top for h1title */
.empty {
    height: 15px;
    background-color: #a62c03;
}

/* -- [ START OF CONTAINERS ] -- */

.container-img{
  margin: 0 auto;
  position: relative;
  width: 1000px;
  background: URL(../bjorncms/images/js_reception_backdrop_left.png), #ffffff;
  background-repeat: no-repeat;
  background-position: left bottom;
  box-shadow: 0px 11px 25px 2px rgba(49, 50, 50, 0.69);
}

/* -- [ CONTAINER PAGES ] -- */

.container {
  height: 1290px;
  margin: 0 auto;
  top: -95px;
  background: rgb(166, 44, 3);
  position: relative;
  box-shadow: 0px 11px 25px 2px rgba(49, 50, 50, 0.69);
  width: 940px;
  background-repeat: no-repeat;
  background-position: left bottom;
}
.containerRegister {
  height: 750px;
  margin: 0 auto;
  top: -90px;
  background: rgb(166, 44, 3);
  position: relative;
  box-shadow: 0px 11px 25px 2px rgba(49, 50, 50, 0.69);
  width: 940px;
  background-repeat: no-repeat;
  background-position: left bottom;
}
.containercart{
  height: 900px;
  margin: 0 auto;
  position: relative;
  width: 1000px;
  background: URL(../bjorncms/images/js_reception_backdrop_left.png), #ffffff;
  background-repeat: no-repeat;
  background-position: left bottom;
  box-shadow: 0px 11px 25px 2px rgba(49, 50, 50, 0.69);
}
.containercart h1{
  margin: 10px 20px 10px 20px;
}
.containercart p{
  margin: 10px 20px 10px 20px;
}
.containercart img{
  margin: 10px 20px 10px 20px;
}
.container h1{
  margin: 10px 20px 10px 20px;
}
.container p{
  margin: 10px 20px 10px 20px;
}
.container img{
  margin: 10px 20px 10px 20px;
}
.containerRegister h1{
  margin: 10px 20px 10px 20px;
}
.containerRegister p{
  margin: 10px 20px 10px 20px;
}
.containerRegister img{
  margin: 10px 20px 10px 20px;
}

/* -- [ CONTAINER DESIGN ] -- */

.contentContainer {
  background: url(../images/frame1.png) no-repeat;
  width: 736px;
  height: 382px;
  margin: auto auto 10px auto;
  text-align: left;
}

.contentContainer p {
  padding-top: 50px;
  margin: 0px 45px 0px 45px;
  font-size: 18px;
}

/* -- [ CONTAINER OF SERIOUS SAM ] -- */

.ss_container{
  height: 650px;
  margin: 0 auto;
  position: relative;
  width: 1000px;
  background: #d4b484;
  background-repeat: no-repeat;
  background-position: left bottom;
}
.ss_container h1{
  font: normal 35px 'ka1';
  margin: 0px 20px 10px 20px;
  border-bottom: 1px solid black;
}
.ss_container h2{
  font: normal 25px 'ka1';
  margin: 0px 20px 10px 20px;
}
.ss_container p{
  font: normal 17px 'ka1';
  margin: 0px 20px 10px 20px;
}
.ss_container ul{
  margin: 0px 20px 10px 20px;
}
.ss_container li{
  font: normal 17px 'ka1';
  margin: 0px 20px 10px 20px;
}
.ss_container img{
  margin: 0px 20px 10px 20px;
}

/* -- [ CONTAINER OF GUN GODZ ] -- */

.gg_container{
  height: 650px;
  margin-top: -20px;
  margin: 0 auto;
  position: relative;
  width: 1000px;
  background: #1d1d1d;
  background-repeat: no-repeat;
  background-position: left bottom;
}
.gg_container h1{
  font: normal 35px 'ka1';
  color: white;
  margin: 0px 20px 10px 20px;
  border-bottom: 1px solid white;
}
.gg_container h2{
  font: normal 25px 'ka1';
  color: white;
  margin: 0px 20px 10px 20px;
}
.gg_container p{
  font: normal 17px 'ka1';
  color: white;
  margin: 0px 20px 10px 20px;
}
.gg_container img{
  margin: 0px 20px 10px 20px;
}

/* -- [ NEWS SECTION ] -- */

.news{
  position: absolute;
  margin: 50 auto;
  width: 1000px;
}
.news_header h1{
  font: normal 30px 'ka1';
  color: black;
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  border-bottom: 1px solid black;
}
.news_content img{
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}
.news_content p{
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  font: normal 15px 'Calibri';
}

/* -- [ CLOTHES STORE ] -- */

.clothes{
  position: absolute;
  margin: 50 auto;
  width: 1000px;
}
.clothes_sidecontent{
  position: absolute;
  margin: 0 auto;
  height: 500px;
  width: 200px;
  border: 1px solid black;
}
.clothes_sidecontent h2{
  font: normal 23px 'DejaVu Sans', sans-serif;
  border-bottom: 1px solid black;
}

/* -- [ MUSIC SECTION ] -- */

.musicStoreContainer{
  background-color: white;
  height: 300px;
}
.musicStoreContainer .itemHolder{
  position: relative;
  float: left;
  margin-top: 30px;
  margin-left: 30px;
  background-color: white;
  border-radius: 10px;
  width: 200px;
  height: 300px;
  -webkit-box-shadow: 0px 0px 22px 3px rgba(50, 50, 50, 0.45);
  -moz-box-shadow:    0px 0px 22px 3px rgba(50, 50, 50, 0.45);
  box-shadow:         0px 0px 22px 3px rgba(50, 50, 50, 0.45);
}

/* -- [ ITEM HOLDER ] -- */

.itemHolder .itemPic img{
  position: absolute;
  margin: 0px;
  padding: 0px;
  width: 200px;
  height: 125px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.itemHolder .itemPic img.top{
  opacity: 0;
}
.itemHolder:hover .itemPic img.top{
  opacity: 1 !important;
}
.itemHolder .itemTitle{
  margin-top: 135px;
  font-size: 18px;
  text-align: center;
}
.itemHolder .itemDesc{
  margin-top: 15px;
  margin-left: 15px;
  font-size: 12px;
  font-style: oblique;
  color: #b8b6b6;

}
.itemHolder .itemPrice{
  margin-top: 30px;
  text-align: center;
  font-size: 24px;
  font-style: bold;
  color: #DEE0E7;
}
.itemHolder:hover .itemPrice{
  margin-top: 30px;
  text-align: center;
  font-size: 24px;
  font-style: bold;
  color: black;
}

/* -- [ FOOTER ] -- */

.footer{
  font: normal 15px 'DejaVu Sans';
  margin: 0 auto;
  width: 1001px;;
  height: 230px;
  background-color: black;
  color: #999;
  text-align: center;
  margin-bottom: 50px;
  font-size: 13.5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 11px 25px 2px rgba(49, 50, 50, 0.69);
}
.footer strong{
  color: white;
}
.footer .owners a{
  color: #FEE37A;
  text-decoration: none;
}
.footer .friends a{
  color: #999;
  text-decoration: none;
}
.footer .contact{
  float: left;
  width: 220px;
  margin-left: 15px;
  margin-top: 20px;
}
.footer .owners .teamRami{
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}

.footer .owners .teamJw{
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}
.footer .friends{
  float: left;
  margin-left: 5px;
  margin-top: 20px;
}
.footer .friends ul li{
  list-style-type: none;
}


.vlambeergames{
  margin: 0 auto;
  margin-bottom: 15px;
  width: 1000px;
  height: 500px;
  background-color: white;
}

.gameslider {
  display:inline-block;
  float:left;
  position:relative;
  margin-top:125px;
}

/* -- [ POP UP ] -- */

#blanket {
  background-color:#111;
  opacity: 0.65;
  *background:none;
  position:absolute;
  z-index: 9001;
  top:0px;
  left:0px;
  width:100%;
}
#popUpDiv {
  position:absolute;
  width:700px;
  margin-top: -200px;
  margin-left: -150px;
  height:450px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 23px 5px rgba(50, 50, 50, 1), inset 0px 0px 25px 0px rgba(223, 70, 18, 0.60);
  -moz-box-shadow:    0px 0px 23px 5px rgba(50, 50, 50, 1), inset 0px 0px 25px 0px rgba(223, 70, 18, 0.60);
  box-shadow:         0px 0px 23px 5px rgba(50, 50, 50, 1), inset 0px 0px 25px 0px rgba(223, 70, 18, 0.60);
  z-index: 9002;
}
.popupImg{
  margin-top: 30px;
  margin-left: 30px;
  width: 175px;
  height: 175px;
  border: 5px solid white;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 1);
  box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 1);
}
.popupImg img{
  margin: 0px;
  padding: 0px;
  width: 175px;
  height: 175px;
}
.popupInfo{
  margin-top: -180px;
}
.popupTitle{
  text-align: center;
  margin-top: -150px;
  margin-left: 180px;
  font-size: 33px;
}
.popupDesc{
  text-align: center;
  width: 350px;
  margin-top: -35px;
  margin-left: 270px;
  font-size: 23px;
  color: #919191;
}
.popupPrice{
  text-align: center;
  margin-top: -20px;
  margin-left: 180px;
  font-size: 28px;
}
#popupAddToCart{
  position: absolute;
  font: normal 18px 'ka1';
  text-align: center;
  background-color: #df4612;
  width: 250px;
  height: 30px;
  margin-top: -205px;
  margin-left: 310px;
  color: white;
  border: 1px solid #7e1515;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  cursor: pointer;
}
#popupAddToCart:hover{
  background-color: #f56f41;
}
#popupAddToCart:active{
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}
#popupAddToCartDisabled{
  position: absolute;
  font: normal 18px 'ka1';
  text-align: center;
  background-color: #787878;
  width: 250px;
  height: 30px;
  margin-top: -205px;
  margin-left: 310px;
  color: white;
  border: 1px solid #000000;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
}
#popupAddToCartDisabled:hover{
  background-color: #787878;
}
#popupAddToCartDisabled:active{
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

.recomendTitle{
  margin-left: 170px;
  padding-bottom: 10px;
}

/*Start of form*/

/* -- [ FORM ] --*/

.containerRegister .form{
    margin-left: 145px;
}
.containerRegister .formTitle{
    font: normal 14px 'ka1';
    font-size: 30px;
    padding-top: 20px;
    margin-left: 80px;
    text-align: left;
}
.containerRegister .form .formLabel{
    margin-top: 25px;
    padding-left: 20px;
    font-size: 18px;
    color: #8995A9;
}
.containerRegister .form .formInput{
    background-color: #DBDFE6;
    border: 1px solid #DEE0E7;
    border-radius: 5px;
    box-shadow: 0 1px 1px #ACB4C4 inset;
    width: 200px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
}
.containerRegister .form input:focus{
    outline: none;
    border-color: #FFC891;
    background-color: white;
    box-shadow: 0 0px 0px 1px #ACB4C4 inset;
}
.containerRegister .form #formSubmit{
    margin-top: 40px;
    background-color: #B1F20C;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 5px;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    border: 1px solid #7e1515;
    height: 30px;
    margin-left: 350px;
    width: 200px;
    cursor: pointer;
    font: bold 20px 'ka1';
    color: #fff;
}
.form #formSubmit:hover{
    background-color: #ff5e27;
}
.form #formSubmit:active{
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}
.form .formInput[placeholder]{
    font: normal 14px 'ka1';
    color: #a9a9a9;
}
.form .formInput{
    font: normal 14px 'ka1';
    color: #a9a9a9;    
}

.form  #country {
   width: 211px;
   margin-left: 80px;       
}

.form #houseNumber {
    width: 50px;
}

.form #zip {
  width: 100px; 
  margin-left: 12px;    
}

.form #margin {
    margin-left: 80px;   
}

/* -- [ IMAGE INFO ] -- */
.container-img .imgInfo{
  position: absolute;
  margin-left: 700px;
  width: 300px;
  height: 400px;
  background-color: black;
  opacity: 0.42;
  z-index: 10;
}
.imgInfo .imgInfoTitle {
  z-index:2000;
  color: white;
  text-align: center;
  margin-top:10px;
  font-size:25px;
}
.imgInfo .imgInfoDesc{
  z-index:2000;
  color: #DF4612;
  text-align: center;
  margin-top:10px;
  font-size:16px;
}
.container-img .imgInfo{
  position: absolute;
  margin-left: 700px;
  width: 300px;
  height: 400px;
  background-color: black;
  opacity: 0.42;
  z-index: 10;
}
.imgInfo .imgInfoTitle {
  z-index:2000;
  color: white;
  text-align: center;
  margin-top:10px;
  font-size:25px;
}
.imgInfo .imgInfoDesc{
  z-index:2000;
  color: #DF4612;
  text-align: center;
  margin-top:10px;
  font-size:16px;
}
/* -- [ SERIOUS SAM ANIMATION ] -- */

.ss_bomb{
  margin-top: -563px;
  margin-left: 545px;
  position: absolute;
  transform: scale(1.1);
}

/*=================================*/
    /* -- [ MEDIA QUERIES ] -- */
/*=================================*/

@media screen and (max-width: 959px) {
    .header {
        background: url(../images/header2.png) no-repeat;
        background-position: center;
        height: 272px;
        width: 630px;
    
        border: 2px solid white;
}
    .container {
        width: 630px;
        height: 970px;
    
        border: 2px solid white;
}
    .containerRegister {
        width: 630px;
        height: 580px;
    }
    .containerRegister .form{
        margin-left: -20px;
    }
    .containerRegister .formTitle{
        font-size: 20px;
        padding-top: 5px;
        margin-left: 80px;
    }
    .containerRegister .form .formLabel{
        margin-top: 25px;
        padding-left: 20px;
        font-size: 18px;
        color: #8995A9;
    }
    .containerRegister .form .formInput{
        width: 200px;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        margin-top: 15px;
    }
    .containerRegister .form #formSubmit{
        margin-top: 40px;
        height: 30px;
        margin-left: 350px;
        width: 200px;
    }
    .navbar {
        margin-top: -20px;
        background: url(../images/navbar2.png) no-repeat;
        background-position: center;
        height: 46px;
        width: auto;
    }
    .mask {
        /* padding-top: 0px; */
        /* margin-top: -10px; */
        /* margin-left: 0px; */
        /* margin-right: auto; */
        position: relative;
        width: 630px;
        height: 272px;
        overflow: hidden;
        /* left: -20px; */
    }
    .h1Title {
        background: url(../images/titleFrame2.png) no-repeat center;
        margin-top: 0px;
        margin-left: 66px;
        margin-bottom: 10px;
        width: 500px;
        height: 68px;
        text-align: center;
    }
    .h1Title h1{
        font-family: 'ka1';
        color: #db9b5c;
        margin: auto;
        line-height: 65px;
        font-size: 19px;
    }
    .contentContainer {
        background: url(../images/frame2.png) no-repeat;
        width: 550px;
        height: 287px;
        margin-top: auto;
        margin-left: 40px;
        margin-bottom: 10px;
        text-align: left;
    }
    .contentContainer p {
        padding-top: 35px;
        margin: 0px 35px 0px 35px;
        font-size: 14px;
    }
}

@media screen and (max-width: 640px) {
    .header {
        background: url(../images/header3.png) no-repeat;
        background-position: center;
        height: 134px;
        width: 310px;
    }
    .container {
        width: 310px;
    }
}
@media screen and (max-width: 320px) {

}