.nav_balk {
  width: 1230px;
  height: 60px;
  background: white;
  position: absolute;
  background-position: center;
  margin-top: -20px;
  text-align: center;
  z-index: 0;
  display: inline-block;
  top: 425px;
  left: 30px;
}

.nav_balk ul li{
  font-family: 'ka1';
  font-size: 20px;
  margin: 0;
  padding-top: 8px;
  display: inline-block;
  color: white;
  height: 32px;
  margin-top: 31px;
  margin-right: 70px;
}

.nav_balk li a, .nav_balk li a:visited{
  color: black;
  text-decoration: none;
}

.nav_balk li a:hover{
  color: white;
}
