.nav_balk {
  width: 1230px;
  height: 60px;
  background: white;
  position: absolute;
  background-position: center;
  margin-top: -20px;
  text-align: center;
  z-index: 0;
  top: 425px;
  left: 30px;

}
